@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", Roboto, "Malgun Gothic", sans-serif;
}

@layer utilities {
  .fujifilm-gradation-bg {
    background: linear-gradient(90deg, #00D164 0%, #01916D 45%, #96FFFD 95%);
  }
}

:root {
  --font-sans: "Noto Sans KR", Roboto, "Malgun Gothic", sans-serif;
}

body {
  background-color: #F8FAFC;
  color: #333333;
  min-height: 100vh;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
